<h1>Welcome#index</h1>
<p>Antonio Anselmo</p>
<p>soma simples <%= 1 + 1%></p>
<p>testando metodos do rails <%= "antonio anselmo".reverse %></p>
<ul>
    <li><a href="/coins" >Cadastro de Coins</a></li>
    <li> <%= link_to "Cadastro de Coins", coins_path %> </li>
</ul>